-# ----------------------------------------------------------------------------
-# app/views/pages/home.html.haml
-# ----------------------------------------------------------------------------

%h1 Pages#home
%div.page
  %p.test Find me in app/views/pages/home.html.haml
